@model ASPInventory.Models.User

@{
    ViewBag.Title = "ลงทะเบียน";
    Layout = "~/Views/Layouts/_AuthenLayout.cshtml";
}

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">ลงทะเบียนเข้าใช้งาน</h1>

                        @if (ViewBag.Message != null)
                        {
                            @Html.Raw(ViewBag.Message)
                        }

                    </div>


                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                @Html.LabelFor(c => c.FirstName, "ชื่อ", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = Html.DisplayNameFor(x => x.FirstName) } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-6">
                                @Html.LabelFor(c => c.LastName, "สกุล", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = Html.DisplayNameFor(x => x.LastName) } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 mb-12 mb-sm-0">
                                @Html.LabelFor(c => c.EmailID, "อีเมล์", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.EmailID) } })
                                @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                @Html.LabelFor(c => c.Password, "กำหนดรหัสผ่าน", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Password) } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-6">
                                @Html.LabelFor(c => c.ConfirmPassword, "ยืนยันรหัสผ่าน", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.ConfirmPassword) } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <input type="submit" value="Register Account" class="btn btn-primary btn-user btn-block">
                    }

                    <hr>

                    <div class="text-center">
                        @Html.ActionLink("เป็นสมาชิกอยู่แล้ว ? เข้าสู่ระบบ", "Login", "Frontend", null, new { @class = "small" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


